[Unit]
Description=hdwx-modelplotter_hrrr
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython modelFetch.py hrrr
Restart=always
RestartSec=30
WorkingDirectory=$pathToClone/hdwx-modelplotter/
User=$myUsername
SyslogIdentifier=hdwx-modelplotter_hrrr

[Install]
WantedBy=hdwx.target