[Unit]
Description=hdwx-modelplotter_nam
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython modelFetch.py nam $shouldGIS
Restart=always
RestartSec=30
RuntimeMaxSec=14400
WorkingDirectory=$pathToClone/hdwx-modelplotter/
User=$myUsername
SyslogIdentifier=hdwx-modelplotter_nam

[Install]
WantedBy=hdwx.target