[Unit]
Description=hdwx-modelplotter_gfs
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython modelFetch.py gfs
ExecStop=rsync -ulrH ./output/. $targetDir --exclude=productTypes/ --exclude="*.tmp"
Restart=always
RestartSec=30
WorkingDirectory=$pathToClone/hdwx-modelplotter/
User=$myUsername
SyslogIdentifier=hdwx-modelplotter_gfs

[Install]
WantedBy=hdwx.target