[Unit]
Description=hdwx-modelplotter_namnest
PartOf=hdwx.target

[Service]
ExecStart=$pathToPython modelFetch.py namnest
Restart=always
RestartSec=30
WorkingDirectory=$pathToClone/hdwx-modelplotter/
User=$myUsername
SyslogIdentifier=hdwx-modelplotter_namnest

[Install]
WantedBy=hdwx.target